@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:wght@100;400;700&display=swap');



h1,h2  {
    font-family: 'Poppins', sans-serif;
        
}

p, span, ul, li {
    font-family: 'Roboto', sans-serif;
}